{%extends 'blog/base.html'%}
{% load staticfiles %}
{%block content%}
<section id="content">
  <div class="full-width-container block-1">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <header>
            <h2><span>My Posts</span></h2>
          </header>
        </div>
        <div id="touch_gallery">
            {% for post in posts %}
          <div class="grid_4">
            <div class="img_block"><a href="{{ post.model_pic.url }}"><img src="{{ post.model_pic.url }}" alt="Services"><i>+</i></a></div>
            <article>
              <h4><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
              <div class="post">
                  <div class="date">
                      <p>published: {{ post.published_date }}</p>
                  </div>

                  <p>{{ post.text|linebreaksbr }}</p>
              </div>
            </article>
          </div>

        {% endfor %}
      </div>
    </div>
  </div>

</div>
</section>

{%endblock%}
